@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import "viewport.css" all;
@import "menu.css" all;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gill Sans', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(/image/BG.png);
  background-size: cover;
  color: white;
}

.top-wrapper h1 {
  font-size: 45px;
  margin-bottom: 10px;
}

.btn-wrapper {
  margin: 20px 0;
}

.our {
  outline-color: #f7b731;
  margin-right: 15px;
}

.book {
  outline-color: #f7b731;
}

.btn {
  padding: 12px 24px;
  margin-top: 5px;
  display: inline-block;
  opacity: 0.8;
  color: #f7b731;
  border-radius: 20px;
  outline: solid;
  transition: all 0.8s;
}

.btn:hover {
  background-color: #f7b731;
  color: white;
  outline: none;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.fa {
  margin-right: 5px;
  visibility: hidden;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}
.header-left {
  float: left;
}
.header-right {
  float: right;
  color: white;
}

.header-right a {
  line-height: 65px;
  float: left;
  padding: 0px 20px;
  color: white;
  display: block;
  transition: all 0.5s;
}

.header-right a:hover {
  color: #f7b731;
}

.resto {
  color: #f7b731;
}


*{
    box-sizing: border-box;
  } 
  .cont {
    background-color: #0c0b09;
    background-size: cover;
    width: auto;
    height: 100%;
    padding: 0 50px;
  }
  .contact-title h2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1px;
  padding: 20px 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
  }
  .contack-border {
  float:left;
  }
  .contact-border i {
  color: #aaaaaa;
  }
  .contact-title p {
  font-size: 36px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #cda45e;
  padding-bottom: 20px;
  }
  .icon {
  float: left;
  width: 44px;
  height: 44px;
  background: #cda45e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 10px;
  }
  .icon i {
  color: white;
  font-size: 20px;
  }
  .info {
  margin-bottom: 30px;
  }
  .contact-info h4 {
  padding: 0 0 0 60px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  }
  .info p {
  padding: 0 0 0 60px;
  font-size: 14px;
  color: #bab3a6;
  }
  .contact-info {
  float: left;
  }
  .messages {
  width: 1100px;
  }
  .name, .email {
  width: 34%;
  }
  .email {
    float: right;
  }
  .name, .subject, .message {
  margin-left: 30px;
  }
  .subject, .message {
  width: 68%;
  }
  input, textarea {
  font-size: 14px;
  background: #0c0b09;
  border-color: rgb(118, 118, 118);
  color: white;
  float: left;
  margin-bottom: 20px;
  padding: 8px;
  }
  input:active , textarea:active {
  border-color: #cda45e;
  }
  .form-control {
  display: block;
  }
  button {
  background: #cda45e;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px 0 40px 0;
  }
  button:hover {
  opacity: 0.9;
  }
  .btn1 {
    text-align: center;
  }
