/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 36px;
  }
  .top-wrapper h2 {
    font-size: 24px;
  }

    .contact-info {
        float: none;
    }
    .name, .subject, .message {
      margin-left: 0;
    }
    .message, .subject, .messages {
        width: 100%;
    }
    .email, .name {
        width: 49%;
    }
    .email {
        float: right;
    }  
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .btn {
    width: 100%;
    text-align: center;
  }

  .our {
    margin-bottom: 15px;
  }

  .top-wrapper {
    text-align: center;
  }

  .top-wrapper h1 {
    font-size: 30px;
  }

  .top-wrapper h2 {
    font-size: 18px;
  }

  .header-right {
    display: none;
  }

  .menu-icon {
    visibility: inherit;
  }
  
  .cont {
        padding: 0 20px;
      }
      .contact-info {
        float: none;
      }
      .email{
        float: none;
      }
      .name, .subject, .message {
      margin-left: 0;
      }
      .name, .email .message, .subject {
        width: 100%;
      }
      .email {
          width: 100%;
      }
}
